<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title>預約資料填寫</title>
  <link rel="stylesheet" href="./blis/bootstrap3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./blis/layer_mobile/need/layer.css">
  <link rel="stylesheet" href="./css/iconfont.css">
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./css/common.css?v=1">
  <!-- 本業獨有，單獨引入 -->
  <link rel="stylesheet" href="./css/apoint.css">
</head>


<body>
  <div class="body apoint_body" id="apoint_body" v-cloak>
    <h3 class="header"><a href="javascript:history.back(-1);"><i class="iconfont icon-zuo  i-left"></i></a>預約資料填寫</h3>
    <div class="remind" v-if="type == 1">
      <h3 class="remind_title">預約提醒</h3>
      <div class="title-after"></div>
      <p class="remind_p">1. 預約掛號後未能來院看診時，請於一天前以電話取消，若三個月內有三次未到診紀錄者暫停受理電話（及網路）預約掛號，請至掛號櫃檯辦理掛號。</p>
      <p class="remind_p">2. 初診病人請於預定看診時間前半小時攜身分證件至掛號櫃檯辦理手續。</p>
      <p class="remind_p">3. 參考預定看診時間至診室依序號候診，看診後始繳掛號費。</p>
    </div>
	<div class="remind" v-else>
      <h3 class="remind_title">預約提醒</h3>
      <div class="title-after"></div>
      <p class="remind_p">請填寫防災宣導線上報名表，或自行影印全民防災協會教育宣導回執聯，傳真至(07)950-2355 ．</p>
	  <p class="remind_p">(07)950-2351 即可，本協會將有專人與您聯絡。</p>
    </div>
    <form role="form" class="apoint_form" action="">
      <p class="form_p">請填寫以下資料，以利建檔聯繫，填寫後請按＂確認送出＂才完成預約程序喔！</p>
      <div class="form-group" v-show="type == 1">
        <label for="idcode">身分證字號*</label>
        <input type="text" class="form-control" id="idcode"  v-model="formMess.idcode" />
      </div>
      <div class="form-group">
        <label for="name">姓名*</label>
        <input type="text" class="form-control" id="name" v-model="formMess.name">
      </div>
      <div class="form-group">
        <label for="tel">連繫電話或手機號碼*</label>
        <input type="text" class="form-control" id="tel" v-model="formMess.tel">
        <p class="form-group_p">請務必確實填寫，以利相關事項聯繫！</p>
      </div>

      <div class="form-group">
        <label for="email">Email (選填)</label>
        <input type="text" class="form-control" id="email" v-model="formMess.email">
      </div>
      <div class="checkbox my-checkbox">
        <label class="checkbox_label"  v-if="type == 1">
          <input type="checkbox" v-model="formMess.first">此為第一次預約看診
        </label>
        <label class="checkbox_label">
          <input type="checkbox" v-model="formMess.agree">我已閱讀並同意<a class="checkbox_a"
            href="apoint-terms.html">服務條款</a>與<a class="checkbox_a" href="apoint-ys.html">隱私權宣告</a>
        </label>
      </div>
      <div class="form_botton" type="submit" @click="onSubmit()">確認預約</div>
    </form>
    <black-top></black-top>
  </div>

</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.cookie.js"></script>
<script src="./blis/bootstrap3.3.7/js/bootstrap.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./blis/layer_mobile/layer.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/router.js?r=323"></script>
<script>
  var s_type = $.cookie('s_type');	//1诊所，2安检，3养生
 
  if(s_type == "null" || s_type == undefined){
	location.href = "inyue.html";
  }
  
  new Vue({
    el: "#apoint_body",
    data() {
      return {
		pageTitle: "",
		type: 1,
        doctorId: '',//医生ID
        timeName: '',//预约阶段时间
        clinicStatusId: '',//预约状态
        pidName: '',//门诊name
        categoryName: '',//科室name
        formMess: {
          "idcode": "",//450481199606180022
          "name": "",//Acai
          "tel": "",//15296800815
          "email": "",
          "first": false,
          "agree": false
        }
      };
    },
    mounted() {
	  var that = this;
	  if(s_type == 1){
		this.pageTitle = "";
		this.type = 1;
	  }else if(s_type == 2){
		this.pageTitle = "";
		this.type = 2;
	  }else{
		this.pageTitle = "";
		this.type = 3;
	  }
	  
      that.getOptions();
    },
    methods: {

      /**
       * *获取路由参数
      */
      getOptions() {
        var that = this;
        var path = window.location.href;
        var optionsArr = getAllUrlParams(path);
        that.doctorId = optionsArr.doctorId;
        that.clinicStatusId = optionsArr.clinicStatusId;
        that.timeName = optionsArr.timeName;
        that.pidName = decodeURI(optionsArr.pidName);
        that.categoryName = decodeURI(optionsArr.categoryName);
        console.log(that.pidName, that.categoryName);
      },
      /**
       * ? 预约信息提交
       */
      getReserveSub(idCode, realName, phone, email) {
	 
        var that = this;
        let doctorId = that.doctorId;
        let clinicStatusId = that.clinicStatusId;
        let idcode = that.idcode;
        let name = that.name;
        let timeName = that.timeName;
        let tel = that.tel;
        let pidName = that.pidName;
        let categoryName = that.categoryName;
        var params = {
          "type": s_type,
          "doctorId": doctorId,
          "clinicStatusId": clinicStatusId,
          "timeName": timeName,
          "idCode": idcode,
          "realName": name,
          "phone": tel,
          "email": '',
          "categoryName1": pidName,
          "categoryName2": categoryName,
        }
     
		 reserveSub(params, function (res) {
          var doctorReserveId = res;
		  form_layer(doctorReserveId);
		  
		  
        });
	 
		
		
		
	/*
	  if(s_type == 1){
		 reserveSub(params, function (res) {
          var doctorReserveId = res;
		   window.location.href = "apoint-end.html?doctorReserveId=" + doctorReserveId;
		  
        });
	  }else if(s_type==2){
		reserveSub(params, function (res) {
          var doctorReserveId = res;
			window.location.href = "apoint-end2.html?doctorReserveId=" + doctorReserveId;
		 
        });
	  }
	  
	  */
		
		
		
      },


      /**
       * *提交按钮
      */
      onSubmit() {
        var that = this;
        let formData = that.formMess;
        // 身份证
        let idcode = formData.idcode, idcodeRet = /^\S{5,22}$/;
        // 姓名
        let name = formData.name;
        // 电话号码、手机号码
        let tel = formData.tel, telRet = /^\S{5,11}$/;
        let emailRet =  /^\w+((.\w+)|(-\w+))@[A-Za-z0-9]+((.|-)[A-Za-z0-9]+).[A-Za-z0-9]+$/;
        let email = formData.email;
        let first = formData.first;
        let agree = formData.agree;
		
		if(s_type == 2){
			idcode = "888888";
		}

        if (idcode != "" && name != "" && tel != "") {
          // 电话号码、手机号码
          if (telRet.test(tel)) { } else {
            msg('請填寫正確的電話或手機號碼', 1);
			return false;
          }

          // 身份证验证
          if (idcodeRet.test(idcode)) { } else {
            msg('請填寫正確的身份證信息', 1)
			return false;
          }
		  if(email != ""){
			 if (!emailRet.test(email)){
				msg('請填寫正確的郵箱號', 1)
				return false;
			 }
		  }

          if ( agree === false) {
              msg('請勾選同意條款', 1);
			  
			  //form_layer()
            } else {
              that.idcode = idcode;
              that.name = name;
              that.tel = tel;
              that.email = email;
              that.first = first;
              that.agree = agree;
              console.log("提交", formData);
              that.getReserveSub(idcode, name, tel, email);

            }

        } else {
          if (idcode == "" && name == "" && tel == "") {
            msg('請完善信息', 1)
          } else if (idcode == "") {
            msg('請填寫身份證信息', 1);
          } else if (name == "") {
            msg('請填寫姓名', 1)
          } else if (tel == "") {
            msg('請填寫電話或手機號碼', 1)
          }

        }
      }
    }
  })

  //底部提示
  function form_layer(doctorReserveId) {
    layer.open({
      className: 'layer_class',
      title: '預約成功',
      content: '相關預約內容資訊可以至IN約主頁點選右上角"預約行事曆"查看，請注意診所相關預約規範，以免損失權益！'
      , btn: ['我知道了！'],
      yes: function (index) {
	  
		if(s_type == 1){
			 window.location.href = "apoint-end.html?doctorReserveId=" + doctorReserveId;
		  }else if(s_type==2){
			window.location.href = "apoint-end2.html?doctorReserveId=" + doctorReserveId;
		  }
	  
        parent.layer.close(index); //再执行关闭

      }
    });
  }



</script>


</html>