<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title>商城-区域篩選</title>
  <link rel="stylesheet" href="./blis/bootstrap3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./blis/layer_mobile/need/layer.css">
  <link rel="stylesheet" href="./css/iconfont.css">
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./css/common.css">
  <!-- 本業獨有，單獨引入 -->
  <link rel="stylesheet" href="./css/select.css?v=1">
</head>

<body>
  <div id="shopCategory">
    <div class="body select_body select-category_body" v-cloak>
      <h3 class="header"><i class="iconfont icon-zuo  i-left" @click="turn()"></i>
        区域篩選<i class="iconfont icon-itemno_0 i-right" @click="clear()"></i></h3>
      <h4 class="select-title">縣市</h4>
      <ul class="select_block select_city">
        <li v-for="(item,index) in areaArr" :key="item.id" :class="{active : active == item.id}"
          class="select_item clamp" @click="selected(item.id,item.name)">{{item.name}}</li>
      </ul>
      <ul class="select_ul" v-if="paly2">
        <li class="select_li">
          <h4 class="select-title">{{sonName}}</h4>
          <ul class="select_block select_cont">
            <li v-for="(item,index) in areaArr2" :key="item.id" :class="{active : active2 == item.id}"
              class="select_item clamp" @click="selected_2(item.id)">{{item.name}}</li>
          </ul>
        </li>
      </ul>
      <ul class="select_ul" v-if="paly3">
        <li class="select_li">
          <h4 class="select-title">商圈</h4>
          <ul class="select_block select_cont">
            <li v-for="(item,index) in areaArr3" :key="item.id" :class="{active : active3 == item.id}"
              class="select_item select_item-long clamp" @click="selected_3(item.id)">{{item.name}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="body_bottom">
      <input class="form_botton" type="submit" @click="onSubmit()" value="確認">
    </div>
  </div>

</body>
<script src="./js/jquery.min.js"></script>
<script src="./blis/bootstrap3.3.7/js/bootstrap.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./blis/layer_mobile/layer.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/router.js"></script>

<script>

  new Vue({
    el: "#shopCategory",
    data() {
      return {
        areaArr: [],//父级类别-城市
        areaArr2: [],//二级类别-区
        areaArr3: [],//三级类别-商圈
        active: 1, //父级高亮-城市
        active2: '', //二级高亮-区
        active3: '', //三级高亮-商圈

        // play: false,
        lifecityId: '',//城市ID
        lifeareaId: '',//区ID
        lifestoreId: '',//商圈ID
        sonName: '距離',
        lifedistance: '',//距离
        lifecityName: '',

        paly2:false,
        paly3:false
      }
    },

    created() {
      var that = this;
      that.getOptions(); //获取路由参数
      that.getArea();
      var lifecityId = Number(that.lifecityId);
      var lifeareaId = Number(that.lifeareaId);
      var lifestoreId = Number(that.lifestoreId);
      var lifecityName = that.lifecityName;
      var lifedistance = Number(that.lifedistance);
      // 获取id高亮
      if (lifecityId === 0) { } else {
        that.selected(lifecityId, lifecityName)
        that.active = lifecityId;
        that.active2 = lifeareaId;
        that.active3 = lifestoreId;
      }
      if (lifedistance != 0) {
        that.selected_2(lifedistance);
      }
    },
    methods: {
      /**
      * *获取路由参数
     */
      getOptions() {
        var that = this;
        that.lifecityId = APPlifecityId;
        that.lifeareaId = APPlifeareaId;
        that.lifestoreId = APPlifestoreId;
        that.lifedistance = APPlifedistance;
        that.lifecityName = APPlifecityName;
      },

      /**
       * ?取诊所/医生类别  父级类别
      */
      getArea(parentId) {
        var that = this;
        var params = {
          "parentId": parentId
        }
        getArea(params, function (res) {
          that.areaArr = res;

          
        });
      },

      /**
       * ?子级类别
      */
      selected(id, name) {
        var that = this;
        // 父级高亮高亮
        var id = that.active = id;
        var lifecityId = that.lifecityId = id;
        var lifeareaId = that.lifeareaId = '';//清除上一次选中的区
        var lifestoreId = that.lifestoreId = '';//清除上一次选中的商圈
        that.lifecityName = name;
        if (lifecityId === 11111) {
          that.sonName = '距離';
        } else {
          that.sonName = '鄉鎮區';
          that.lifedistance = '';
          that.active2 = '';
        }

        var params = {
          "parentId": id
        }
        getArea(params, function (res) {
          that.areaArr2 = res;
          if (res !='') {
            that.paly2=true
          }
        });

      },

      /**
       * *二级高亮
      */
      selected_2(id) {
        var that = this;
        var lifecityId = that.lifecityId;

        if (lifecityId === 11111) {
          that.lifedistance = id
        }
        that.active2 = id;
        that.lifeareaId = id;

        var params = {
          "parentId": id
        }
        getArea(params, function (res) {
          that.areaArr3 = res;
          if (res !='') {
            that.paly3=true
          }
        });
      },


      /**
     * *三级高亮-商圈
    */
      selected_3(id) {
        var that = this;
        var lifestoreId = that.lifestoreId;

        that.active3 = id;
        that.lifestoreId = id;
      },
      /**
       * *重置
      */
      clear() {
        var that = this;
        that.active = 1;
        that.active2 = "";
        that.active3 = "";
        that.getArea();
        that.lifecityName = '';
        that.lifecityId = '';
        that.lifeareaId = '';
        that.lifestoreId = '';
        that.lifedistance = '';
        that.sonName = '距離';
        msg('已重置，请确认', 1)
      },


      /**
       * *提交
      */
      onSubmit() {
        var that = this;
        var lifecityId = that.lifecityId || 0;
        APPlifeareaId = that.lifeareaId || 0;//区
        APPlifestoreId = that.lifestoreId || 0;//商圈
        APPlifedistance = that.lifedistance || 0;//距离
        APPlifecityName = that.lifecityName || 0;
        if (lifecityId === 11111) {
          APPlifecityId = '' || 0;
          APPlifeareaId = '' || 0;
        } else {
          APPlifecityId = that.lifecityId || 0;//城市
        }

        localStorage.setItem('lifecityName', APPlifecityName);
        localStorage.setItem('lifedistance', APPlifedistance);
        localStorage.setItem('lifecityId', APPlifecityId);
        localStorage.setItem('lifeareaId', APPlifeareaId);
        localStorage.setItem('lifestoreId', APPlifestoreId);

        // window.location.href = "life-area.html?APPlifecityName=" + APPlifecityName + "&APPlifedistance=" + APPlifedistance + "&APPlifecityId=" + APPlifecityId + "&APPlifeareaId=" + APPlifeareaId + "&APPlifestoreId=" + APPlifestoreId;
        var system = localStorage.getItem('system');
        appTurn11(system, APPlifecityName, APPlifedistance, APPlifecityId, APPlifeareaId, APPlifestoreId);
        // window.location.href = "index.html";

      },


      turn() {
        var system = localStorage.getItem('system');
        appTurn(system)
      }
    }
  })

</script>

</html>