<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<title>我的票券</title>
		<link rel="stylesheet" type="text/css" href="css/myConpon.css" />
		<link rel="stylesheet" type="text/css" href="css/myTicket.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
	</head>

	<body>
		<div class="page flex-col" id="myCoupon" v-cloak>
			<div class="bd1 flex-col">
				<div class="layer1 flex-col">
					<div class="block2 flex-row">
						<a href="javascript:;" @click="turn()"><img src="img/1.png" alt=""></a>
						<span class="word1">我的票券</span>
						<div></div>
					</div>
				</div>
				<div class="layer3 flex-row">
					<span class="txt1" :class="{info2: tabType==1}" @click.prevent="changeTab(1)">未使用</span>
					<span class="txt1" :class="{info2: tabType==2}" @click.prevent="changeTab(2)">歷史紀錄</span>
				</div>
				<div v-if="tabType!=3">
					<div class="layer5 flex-col">
						<input class="section1" type="text" placeholder="輸入店家關鍵字搜尋">
						<img class="icon1" referrerpolicy="no-referrer" src="img/sech.png" />
					</div>
				</div>

				<div class="layer8 flex-row">
					<div></div>
					<div class="box1">
						<img class="icon2" @click.prevent="goDalete()" referrerpolicy="no-referrer" src="img/ljt.png" />
					</div>
				</div>
				<div class="main5" @click.prevent="toInfo(item.category_id)" v-for="item in coupon_list">
					<div class="mod_left">
						<img src="./img/pjimg.png">
					</div>
					<div class="mod11 flex-col">
						<span class="topright">尚餘8次</span>
						<span class="span1">北投溫泉春天酒店</span>
						<span class="span2">雙人湯屋泡湯券</span>
						<span class="word31">有效期限：{{item.end_time}}</span>
					</div>
				</div>

			</div>
		</div>
	</body>
	<script src="./js/jquery.min.js"></script>
	<script src="./blis/layui/layui.all.js"></script>
	<script src="./blis/layer_mobile/layer.js"></script>
	<script src="./js/vue.js"></script>
	<script src="./js/axios.min.js"></script>
	<script src="./js/router.js"></script>
	<script src="./js/common.js"></script>

	<script>
		new Vue({
			el: "#myCoupon",
			data() {
				return {
					tabType: 1,
					tabType2: 0,
					storeId: 0,
					storeName: '',
					showTip: false,
					showMask: false,
					isUse: 1,
					couponCategory: [],
					order_type: 1,
					keyword: '',
					coupon_list: [1,2],
					coupon_code: ''
				}
			},

			created() {
				var that = this;
				// that.getOptions();
				// that.getCouponType()
				// that.getCouponList()
			},
			mounted() {
				var that = this;
			},
			updated() {
				var that = this;
			},
			methods: {
				turn() {
					var system = localStorage.getItem('system');
					console.log("system", system);
					appTurn(system)
				},
				confirm() {
					let data = {
						coupon_code: this.coupon_code
					}
					getCoupon(data, (res) => {
						this.showMask = false
					})
				},
				getCouponList() {
					let that = this
					let data = {
						search: that.keyword,
						category_id: that.tabType2,
						coupon_type: that.tabType,
						order_type: that.order_type
					}
					couponList(data, (res) => {
						that.coupon_list = res
					})
				},
				couponHistory() {
					let that = this
					let data = {
						order_type: that.order_type,
						coupon_status: that.isUse
					}
					couponHistory(data, (res) => {
						this.coupon_list = res
					})
				},
				/**
				 * *获取路由参数
				 */
				getCouponType() {
					couponCategory({}, (res) => {
						this.couponCategory = res
					})
				},
				getOptions() {
					var that = this;
					var optionsArr = getAllUrlParams(window.location.href);
					that.storeId = optionsArr.id;
					that.storeName = decodeURI(optionsArr.name);
				},
				changeTab(type) {
					this.tabType = type
				},

				toInfo(id) {
					window.location.href = "storeCouponInfo.html?id=" + id+"&types=2";
				},
				goDalete() {
					window.location.href = "couponDelete.html?list=" + JSON.stringify(this.coupon_list)+"&type=1"
				},
			}
		})
	</script>

</html>
