<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title>類別篩選</title>
  <link rel="stylesheet" href="./blis/bootstrap3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./blis/layer_mobile/need/layer.css">
  <link rel="stylesheet" href="./css/iconfont.css">
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./css/common.css">
  <!-- 本業獨有，單獨引入 -->
  <link rel="stylesheet" href="./css/select.css?v=1">
</head>

<body>
  <div id="cliDocCategory" v-cloak>
    <div class="body select_body select-category_body">
      <h3 class="header"><a href="javascript:history.back(-1);"><i class="iconfont icon-zuo  i-left"></i></a>
        類別篩選<i class="iconfont icon-itemno_0 i-right" @click="clear()"></i></h3>
      <h4 class="select-title">門診</h4>
      <ul class="select_block select_tow">
        <li class="select_item clamp" :class="{active : active == 1}" @click="selected(1)">全部</li>
        <li v-for="(item,index) in category" :key="item.id" :class="{active : active == item.id}"
          class="select_item clamp" @click="selected(item.id,item.name)">{{item.name}}</li>
      </ul>
      <ul class="select_ul">
        <li class="select_li">
          <h4 class="select-title" v-if="play">科別</h4>
          <ul class="select_block select_cont select_tow" style="padding-bottom:100px;">
            <li v-for="(item,index) in families" :key="item.id" :class="{active : active2 == item.id}"
              class="select_item clamp" @click="selected_2(item.id)">{{item.name}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="body_bottom">
      <input class="form_botton" type="submit" @click="onSubmit()" value="確認">
    </div>
  </div>

</body>
<script src="./js/jquery.min.js"></script>
<script src="./blis/bootstrap3.3.7/js/bootstrap.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./blis/layer_mobile/layer.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/router.js?r=323"></script>

<script>

  new Vue({
    el: "#cliDocCategory",
    data() {
      return {
        category: [],//父级类别
        families: [],//二级类别
        active: 1, //父级高亮
        active2: '', //二级高亮
        play: false,
        categoryId: '',//门诊ID
        familiesId: '',//科别ID
        pidName: '',//门诊name
      }
    },

    created() {
      var that = this;
      that.getOptions(); //获取路由参数‘
      that.getCategory();
      var categoryId = that.categoryId;
      var familiesId = that.familiesId;
      var pidName = that.pidName;
      // 获取id高亮
      if (categoryId === '') { } else {
        that.selected(categoryId, pidName)
        that.play = true;
        that.active = categoryId;
        that.active2 = familiesId;
      }
    },
    methods: {
      /**
      * *获取路由参数
     */
      getOptions() {
        var that = this;
        that.categoryId = APPcategoryPid;
        that.familiesId = APPcategoryId;
        that.pidName = APPpidName;
      },

      /**
       * ?取诊所/医生类别  父级类别
      */
      getCategory(parentId) {
        var that = this;
        var params = {
          "parentId": parentId
        }
        categoryList(params, function (res) {
          that.category = res;
        });
      },

      /**
       * ?子级类别
      */
      selected(id, name) {
        var that = this;
        // 父级高亮高亮
        var id = that.active = id;
        that.categoryId = id;
        that.familiesId = '';//清除上一次选中的科别
        that.active2 = '';
        that.pidName = name;
        // 控制“全部”高亮
        if (id == 1) {
          that.play = false;
          that.categoryId = '';
          that.familiesId = '';
        } else {
          that.play = true
        };

        var params = {
          "parentId": id
        }
        categoryList(params, function (res) {
          that.families = res;
        });

      },

      /**
       * *二级高亮
      */
      selected_2(id) {
        var that = this;
        that.active2 = id;
        that.familiesId = id;
      },

      /**
       * *重置
      */
      clear() {
        var that = this;
        that.active = 1;
        that.active2 = "";
        that.getCategory();
        that.families = [];
        that.play = false;
        that.categoryId = '';
        that.familiesId = '';
        that.pidName = '';
        msg('已重置，请确认', 1)
      },


      /**
       * *提交
      */
      onSubmit() {
        var that = this;
        APPcategoryPid = that.categoryId;
        APPcategoryId = that.familiesId;
        APPpidName = that.pidName;
        localStorage.setItem('categoryPid', APPcategoryPid);
        localStorage.setItem('pidName', APPpidName);
        localStorage.setItem('categoryId', APPcategoryId);

        window.location.href = "clinic.html";
      }
    }
  })

</script>

</html>